logs/application.log
target/scala-2.11/classes/controllers/routes.class
target/scala-2.11/routes/main/controllers/ReverseRoutes.scala
target/scala-2.11/routes/main/controllers/javascript/JavaScriptReverseRoutes.scala
target/scala-2.11/routes/main/controllers/routes.java
target/scala-2.11/routes/main/router/Routes.scala
target/scala-2.11/routes/main/router/RoutesPrefix.scala
target/scala-2.11/twirl/main/views/html/index.template.scala
target/scala-2.11/twirl/main/views/html/main.template.scala
project/project/
project/target/
target/coffeescript/
target/jshint/
target/less/
target/resolution-cache/
target/scala-2.11/classes/models/LoginUser.class
target/scala-2.11/classes/router/Routes$$anonfun$router$Routes$$controllers_Assets_versioned4_invoker$1.class
target/scala-2.11/classes/router/Routes$$anonfun$router$Routes$$controllers_AsyncController_message3_invoker$1.class
target/scala-2.11/classes/router/Routes$$anonfun$router$Routes$$controllers_CountController_count2_invoker$1.class
target/scala-2.11/classes/router/Routes$$anonfun$router$Routes$$controllers_HomeController_login1_invoker$1.class
target/scala-2.11/classes/views/html/homepage$.class
target/scala-2.11/classes/views/html/homepage.class
target/scala-2.11/classes/views/html/homepage_Scope0$.class
target/scala-2.11/classes/views/html/homepage_Scope0$homepage$$anonfun$f$1.class
target/scala-2.11/classes/views/html/homepage_Scope0$homepage.class
target/scala-2.11/classes/views/html/homepage_Scope0.class
target/scala-2.11/twirl/main/views/html/homepage.template.scala
target/streams/
target/web/
