@(allsales: List[Sale])

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sales</title>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link rel="sailboat" type="image/png" href="@routes.Assets.versioned("images/sailboat.png")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/main.css")">
</head>
<body>

  <div id="logo">
    <h3><a href="@routes.HomeController.renderHome()" id="logo">Garage Sail</a></h3>
  </div>

  <center id="boatpicture"><img src="@routes.Assets.versioned("images/sailboat.png")"></center>

  <div id="heading">
    <p id="title">Browse Sales</p>
    <p id="instructions">browse what others are selling near you</p>
  </div>

  <center>
    <div id="wrapper">
      <div class="cell">
        <div class="content">
          <p id="instructions">Search All Sales</p>
        </div>
      </div>
      <div class="cell">
        <div class="content2">
          <p id="instructions">Search All Items</p>
        </div>
      </div>
    </div>
  </center>

  <center>
  <div id="wrapper1">
    <div class="cell1">
      <div class="content1">
        <form action="@routes.HomeController.searchAllSales()" method="get">
          <div id="sidebyside">
            <input type="text" name="name" id="name" placeholder="search all sales">
            <div id="space"></div>
            <button type="Submit">Search</button>
            <div id="space"></div>
          </div>
        </form>
        <form action="@routes.HomeController.clearSaleSearch()" method="get">
          <div id="sidebyside">
            <button type="Submit">Clear Sale Search</button>
            <div id="space"></div>
          </div>
        </form>
      </div>
    </div>
    <div class="cell">
      <div class="content">
        <p id="instructions">or</p>
      </div>
    </div>
    <div class="cell1">
      <div class="content21">
        <form action="@routes.HomeController.searchAllItems()" method="get">
          <div id="sidebyside">
            <input type="text" name="name" id="name" placeholder="search all items">
            <div id="space"></div>
            <button type="Submit">Search</button>
            <div id="space"></div>
          </div>
        </form>
        <form action="@routes.HomeController.clearItemSearch()" method="get">
          <div id="sidebyside">
            <button type="Submit">Clear Item Search</button>
            <div id="space"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </center>




  @for(sale <- allsales) {
    <center>
      <fieldset id="fields">
        <legend id="legend"><b>@sale.getName</b></legend>
      <form action="@routes.HomeController.externalSale()">
        <input type="hidden" name="id" id ="id" value="@sale.getId"/>
        <MARQUEE LOOP="INFINITE"><div id="instructions">Description: @sale.getDescription       Location: @sale.getLocation       on @sale.getDate       from @sale.getStartTime to @sale.getEndTime</div></MARQUEE>
        <div id="space"></div>
        <button type="submit">View Sale</button>
      </form>
      </fieldset>
    </center>
    <div id="space"></div>
  }

</body>
</html>
