<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Create Sale</title>
  </head>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link rel="sailboat" type="image/png" href="@routes.Assets.versioned("images/sailboat.png")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/main.css")">

  <body>

    <div id="logo">
      <h3><a href="@routes.HomeController.renderHome()" id="logo">Garage Sail</a></h3>
    </div>

    <center id="boatpicture"><img src="@routes.Assets.versioned("images/sailboat.png")"></center>

    <div id="heading">
      <p id="title">Create a Sale</p>
      <p id="instructions">show others what you have to sell</p>
    </div>


    <form action="@routes.HomeController.addSale()" method="post">
      <div id="createsale">
        <input type="text" name="name" id="name" placeholder="name">
        <input type="text" name="location" id="location" placeholder="location">
        <div id="space"></div>
        <input type="text" name="date" id="date" placeholder="date">
        <div id="space"></div>
        <input type="text" name="startTime" id="startTime" placeholder="start time">
        <div id="space"></div>
        <input type="text" name="endTime" id="endTime"  placeholder="end time">
        <div id="space"></div>
        <div id="space"></div>
      </div>
      <div id="textarea">
        <input type="text-area" wrap="on" name="description" id="description" placeholder="Description">
      </div>
      <div id="space"></div>
      <div id="space"></div>
      <div id="buttons">
      </div>
    </form>
    <div id="space"></div>
    <form action="@routes.HomeController.renderHome()">
      <div id="buttons">
        <button type="submit" id="cancel_button">Cancel</button>
        <button type="submit" name="action" id="add_button">Create Sale</button>
      </div>
    </form>
  </body>
</html>
