<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Garage Sail</title>
  </head>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet" type='text/css'>
  <link rel="sailboat" type="image/png" href="@routes.Assets.versioned("images/sailboat.png")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/main.css")">

  <body>
    <div id="logo">
      <h3><a href="@routes.HomeController.renderHome()" id="logo">Garage Sail</a></h3>
    </div>

    <center id="boatpicture"><img src="@routes.Assets.versioned("images/sailboat.png")"></center>

    <div id="heading">
      <p id="title">Garage Sail</p>
      <p id="instructions">see if you can sail our superior sea of sails</p>
    </div>

    <center>
      <ul class="home-menu">
        <li>
          <a href="profile">
            <div><img class="image" src="@routes.Assets.versioned("images/sailboat.png")"></div>
            <div class="menu-content">
              <div class="content-main"><b>My Profile</b></div>
              <div id="space"></div>
              <div class="content-sub">view & change your profile information</div>
            </div>
          </a>
        </li>
        <li>
          <a href="mysales">
            <div><img class="image" src="@routes.Assets.versioned("images/sailboat.png")"></div>
            <div class="menu-content">
              <div class="content-main"><b>My Sales</b></div>
              <div id="space"></div>
              <div class="content-sub">view and create your own garage sales</div>
            </div>
          </a>
        </li>
        <li>
          <a href="browsesales">
            <div><img class="image" src="@routes.Assets.versioned("images/sailboat.png")"></div>
            <div class="menu-content">
              <div class="content-main"><b>Browse</b></div>
              <div id="space"></div>
              <div class="content-sub">view all garage sales</div>
            </div>
          </a>
        </li>
        <li>
          <a href="transactions">
            <div><img class="image" src="@routes.Assets.versioned("images/sailboat.png")"></div>
            <div class="menu-content">
              <div class="content-main"><b>View Transactions</b></div>
              <div id="space"></div>
              <div class="content-sub">view past and manage present transactions</div>
            </div>
          </a>
        </li>
        <li>
          <a href="logout">
            <div><img class="image" src="@routes.Assets.versioned("images/sailboat.png")"></div>
            <div class="menu-content">
              <div class="content-main"><b>Logout</b></div>
              <div id="space"></div>
              <div class="content-sub">SEA you later!</div>
            </div>
          </a>
        </li>
      </ul>
    </center>

    <div id="admin">
      <h3><a href="@routes.HomeController.adminPage()" id="logo">admin</a></h3>
    </div>
  </body>

</html>
