@(item: Item)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Edit User</title>
  </head>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link rel="sailboat" type="image/png" href="@routes.Assets.versioned("images/sailboat.png")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/main.css")">

  <body>

  <div id="logo">
    <h3><a href="@routes.HomeController.renderHome()" id="logo">Garage Sail</a></h3>
  </div>
    <center id="boatpicture"><img src="@routes.Assets.versioned("images/sailboat.png")"></center>
    <div id="heading">
      <p id="title">@item.getName</p>
      <p id="iteminfo">@item.getDescription</p>
      <p id="iteminfo"><b>Price:</b> $@item.getListPrice</p>
      <p id="iteminfo"><b>Quantity:</b> @item.getQuantity</p>
    </div>
    <div id="space"></div>
    <div id="space"></div>
    <div id="updateitem">
      <h5>Update Item:</h5>
      <form action="@routes.HomeController.updateItem()" method="post">
        <input type="hidden" name="id" id ="id" value="@item.getId"/>
        Name: <input type="text" name="name" id="name" value="@item.getName">
        <div id="space"></div>
        List Price: <input type="text" name="listPrice" id="listPrice" value="@item.getListPrice">
        <div id="space"></div>
        Bottom Price: <input type="text" name="bottomPrice" id="bottomPrice" value="@item.getBottomPrice">
        <div id="space"></div>
        <div id="textarea">
          Description: <input type="text-area" wrap="on" name="description" id="description" value="@item.getDescription">
        </div>
        <div id="space"></div>
        <div id="buttons">
          <button type="submit" name="action" value="additem" id="add_button">Save Changes</button>
        </div>
      </form>
      <div id="space"></div>
    </div>

  </body>
</html>
