@(transaction: Transaction, transactionitems: List[Item])

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Receipt</title>
  </head>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/main.css")">

  <script type="text/javascript">
    function sendMail() {
      var email = document.getElementById('email').value;

      var heading = '-Transaction:' + @transaction.getId + '%0A'
              + '-Date: @transaction.getDate%0A'
              + '-Time: @transaction.getTime%0A'
              + '-Total Price:' + @transaction.getTotalPrice + '%0A'
              + '-Payment Method: @transaction.getPaymentMethod%0A';

      var items = '-Items:%0A';
      @for(item <- transactionitems) {
        items = items + @item.getName + ' :: $' + @item.getListPrice;
      }

      var body = 'Receipt for Garage Sale:%0A' + heading + items;
      window.open('mailto:' + email + '?subject=Your%20Receipt&body=' + body);
    }
  </script>

  <body>
    <div id="logo">
      <h3><a href="@routes.HomeController.renderHome()" id="logo">Garage Sail</a></h3>
    </div>

    <center id="boatpicture"><img src="@routes.Assets.versioned("images/sailboat.png")"></center>



    <div id="heading">
      <p id="title">Transaction: @transaction.getId</p>
      <p id="instructions"><b>Date: @transaction.getDate</b></p>
      <p id="instructions"><b>Time: @transaction.getTime</b></p>
      <p id="instructions"><b>Total Price: $@transaction.getTotalPrice</b></p>
      <p id="instructions"><b>Payment Method: @transaction.getPaymentMethod</b></p>
    </div>


    @for(item <- transactionitems) {
      <fieldset id="fields">
        <legend id="legend"><b>@item.getName</b></legend>
        <img src="@item.getImg" alt="Image not available" id="image">
        <div id="iteminfo">
          <p><b>Description:</b> @item.getDescription</p>
          <p><b>Price:</b> $@item.getListPrice</p>
        </div>
      </fieldset>
    }


    <div id="space"></div>
    <div id="space"></div>
    <div id="space"></div>
    <div id="space"></div>

    <div id="edit-form">
      <form action="javascript:window.print()">
        <button type="submit">Print</button>
      </form>
    </div>
    <div id="email-form">
        Email:
        <input name="email" id="email" type="email" maxlength="64" placeholder="email address"/>
          <button type="submit" onclick="sendMail();">Send Email Receipt</button>
    </div>
    <div id="space"></div>
    <div id="space"></div>
    <div id="edit-form">
      <form action="@routes.HomeController.cancel()" method="post">
        <button type="submit">Return Home</button>
      </form>
    </div>

  </body>
</html>
