@(mysales: List[Sale])


<!DOCTYPE html>

<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>Sales</title>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link rel="sailboat" type="image/png" href="@routes.Assets.versioned("images/sailboat.png")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/main.css")">
</head>
<body>

  <div id="logo">
    <h3><a href="@routes.HomeController.renderHome()" id="logo">Garage Sail</a></h3>
  </div>

  <center id="boatpicture"><img src="@routes.Assets.versioned("images/sailboat.png")"></center>



  <div id="heading">
    <p id="title">My Sales</p>
    <p id="instructions">your sales (if any) show up here</p>

    @for(sale <- mysales) {
        <center>
            <form action="@routes.HomeController.salePage()">
              <input type="hidden" name="id" id ="id" value="@sale.getId"/>
              <button>@sale.getName</button>
            </form>
        </center>
        <div id="space"></div>
    }

  <div id="space"></div>
  
  <form action="@routes.HomeController.renderCreateSale()" method="get">
    <center><button action="submit">Create a Sale</button></center>
  </form>

</body>
</html>
