@(sale: Sale, array: List[Item])

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Search Results</title>
  </head>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link rel="sailboat" type="image/png" href="@routes.Assets.versioned("images/sailboat.png")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/main.css")">

  <body>





  <div id="logo">
    <h3><a href="@routes.HomeController.renderHome()" id="logo">Garage Sail</a></h3>
  </div>
    <center id="boatpicture"><img src="@routes.Assets.versioned("images/sailboat.png")"></center>
    <div id="heading">
        <p id=title>Search Results</p>
    </div>


    @for(item <- array) {
      <center>
        <form action="@routes.HomeController.renderItem()">
          <input type="hidden" name="id" id ="id" value="@item.getId"/>
          <button>@item.getName</button>
        </form>
      </center>
      <div id="space"></div>
    }


  </body>



</html>
