@(saleitems: List[Item], sale: Sale, user: User)

<!DOCTYPE html>

<html lang="en">
  <head>

    <meta charset="UTF-8">
    <title>Tag</title>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link rel="sailboat" type="image/png" href="@routes.Assets.versioned("images/sailboat.png")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/main.css")">
  </head>
  <body>

    <div id="logo">
      <h3><a href="@routes.HomeController.renderHome()" id="logo">Garage Sail</a></h3>
    </div>

    <center id="boatpicture"><img src="@routes.Assets.versioned("images/sailboat.png")"></center>

      <div id="heading">
        <p id="title">Tags for @sale.getName</p>
      </div>

    @for(item <- saleitems) {
      <center>
        <fieldset id="fields">
          <legend><b>@item.getName</b></legend>
          <div id="iteminfo">
            <p>Description: @item.getDescription</p>
            <p>Price: @item.getListPrice</p>
            <p>Quantity: @item.getQuantity</p>
            <p>ID: @item.getId</p>
          </div>
        </fieldset>
      </center>
      <div id="space"></div>
      <div id="space"></div>
    }

    <div id="space"></div>
    <div id="space"></div>

    <div id="edit-form">
      <form action="javascript:window.print()">
        <button type="submit">Print</button>
      </form>
    </div>
    <div id="space"></div>

    <div id="edit-form">
      <form action="@routes.HomeController.basicTags()" target="_blank">
        <button type="submit">View Plain Text</button>
      </form>
    </div>
    <div id="space"></div>

    <div id="edit-form">
      <form action="mailto:@user.getEmail">
        @for(item <- saleitems) {
          <input type="hidden" name="name" value="Name: @item.getName">
          <input type="hidden" name="description" value="Description: @item.getDescription">
          <input type="hidden" name="price" value="Price: @item.getListPrice">
          <input type="hidden" name="quantity" value="Quantity: @item.getQuantity">
          <input type="hidden" name="id" value="ID: @item.getId">
        }
        <button type="submit">Email Me</button>
      </form>
    </div>
    <div id="space"></div>
    <center><div id="edit-form">
      <form action="@routes.HomeController.cancel()" method="post">
        <center><button type="submit">Cancel</button></center>
      </form>
    </div></center>

  </body>
</html>
